@page
@using Badminton.Common
@model Badminton.RazorWebApp.Pages.AuthPage.ForgotPasswordPageModel
@{
    ViewData["Title"] = "Home page";
}
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Reset Password</h1>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["message"]
            </div>
        }

        @{
          if (Helpers.GetValueFromSession("otp", out string otp, HttpContext))
            {
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="@Model.OTP" class="col-sm-4 col-form-label text-right">OTP</label>
                        <div class="col-sm-8">
                            <input asp-for="@Model.OTP" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="@Model.Password" class="col-sm-4 col-form-label text-right">Password</label>
                        <div class="col-sm-8">
                            <input asp-for="@Model.Password" type="password" class="form-control" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            }else
            {
                <form method="get">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Email</label>
                        <div class="col-sm-8">
                            <input name="email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            } 
        }
    </div>
</div>

