@page
@model Badminton.RazorWebApp.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
    var orders = Model.Orders;
    var customers = Model.CustomersList;
}

<div class="text-center">
    <h1 class="display-6">Orders management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">CodeId</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Type</th>
                    <th class="card-title text-center">TotalAmount</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (orders.Count > 0)
                {
                    foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.Customer.Name</td>
                            <td>@order.Type</td>
                            <td>@order.TotalAmount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">New Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="orderModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="2">Type</label>
                                    <select asp-for="Order.Type" class="form-control">
                                        <option value="UnPaid">Unpaid</option>
                                        <option value="Paid">Paid</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="2">Customer</label>
                                    <select asp-for="Order.CustomerId" class="form-control">
                                        @foreach (var customer in customers)
                                        {
                                            <option value=@customer.CustomerId>@customer.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>@Model.Message</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function add() {
            $('#orderModal').modal('show');
        }
    </script>
}

