@page
@model Badminton.RazorWebApp.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
    var orders = Model.Orders;
    var customers = Model.CustomersList;
    var message = Model.Message;
}

<div class="text-center">
    <h1 class="display-6">Orders management</h1>
</div>

<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="openModal();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">CodeId</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Type</th>
                    <th class="card-title text-center">TotalAmount</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (orders.Count > 0)
                {
                    foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.Customer.Name</td>
                            <td>@order.Type</td>
                            <td>@order.TotalAmount</td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="editOrder(@order.OrderId, '@order.Type', @order.CustomerId);">Edit</button>

                                <form method="post" asp-page-handler="delete" asp-route-id="@order.OrderId" onsubmit="return confirm('Are you sure you want to delete this order?');">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">New Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="orderModalContent"></div>
                    <input type="hidden" asp-for="Order.OrderId" id="orderID" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="type">Type</label>
                                    <select asp-for="Order.Type" class="form-control" id="orderType">
                                        <option value="UnPaid">Unpaid</option>
                                        <option value="Paid">Paid</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="customer">Customer</label>
                                    <select asp-for="Order.CustomerId" class="form-control" id="customerID">
                                        @foreach (var customer in customers)
                                        {
                                            <option value="@customer.CustomerId">@customer.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function openModal() {
            document.getElementById('orderModalLabel').innerText = "New Order";
            document.getElementById('frm').action = "/Order?handler=Post"; // Use OnPost handler for creating a new order
            document.getElementById('frm').reset();
            $('#orderModal').modal('show');
        }

        function editOrder(orderId, type, customerId) {
            document.getElementById('orderModalLabel').innerText = "Edit Order";
            document.getElementById('frm').action = "/Order?handler=Put"; // Use OnPostPut handler for updating an existing order
            document.getElementById('orderID').value = orderId;
            document.getElementById('orderType').value = type;
            document.getElementById('customerID').value = customerId;
            $('#orderModal').modal('show');
        }

        $(document).ready(function () {
            var message = '@message';
            if (message) {
                alert(message);
            }
        });
    </script>
}
