@page
@model Badminton.RazorWebApp.Pages.CourtPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Court</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.YardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.YardType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.SpaceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.SpaceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.UpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.UpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Court.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Court.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Court?.CourtId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
