@page
@model Badminton.RazorWebApp.Pages.OrderDetailPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderDetailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderDetailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.CourtDetail.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.CourtDetail.Slot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.CourtDetail.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.CourtDetail.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Order.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Order.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Order.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Order.Customer.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderDetail?.OrderDetailId">Edit</a> |
    <a asp-page="./Index" asp-route-orderID="@Model.OrderDetail.OrderId">Back to List</a>
</div>
